.game-plan {
    margin: auto;
	width: 502px;
	height: 431px;
	display: flex;
	flex-wrap: wrap;
	cursor: pointer;

}

.mole {
	height: 85px;
	width: 100px;
	border: solid black 1px;
}
img{
	width: 99px;
}


